Repository bcbi/bidss, pull requests merged in 2020-07, with the labels that each got.

#99 Fix images in `unix/intro.md` and `computing/repl.md`
  _assets/images/programming/computing/repl/repl_ex.png
  _assets/images/programming/computing/repl/repl_help.png
  _assets/images/programming/unix/intro/unix_filesystem_bcbi.png
  _assets/images/programming/unix/intro/unix_filesystem_code.png
  _assets/images/programming/unix/intro/unix_shell.png
  process_file_output.txt
  programming/computing/repl.md
  programming/unix/intro.md
Labels: bug fix

#107 Search, font, Google Classroom link, sidebar
  .github/workflows/deploy.yml
  _css/jtd.css
  _layout/head.html
  _layout/pgwrap.html
  _libs/font-awesome/HELP-US-OUT.txt
  _libs/font-awesome/css/font-awesome.css
  _libs/font-awesome/css/font-awesome.min.css
  _libs/font-awesome/fonts/FontAwesome.otf
  _libs/font-awesome/fonts/fontawesome-webfont.eot
  _libs/font-awesome/fonts/fontawesome-webfont.svg
  _libs/font-awesome/fonts/fontawesome-webfont.ttf
  _libs/font-awesome/fonts/fontawesome-webfont.woff
  _libs/font-awesome/fonts/fontawesome-webfont.woff2
  _libs/font-awesome/less/animated.less
  _libs/font-awesome/less/bordered-pulled.less
  _libs/font-awesome/less/core.less
  _libs/font-awesome/less/fixed-width.less
  _libs/font-awesome/less/font-awesome.less
  _libs/font-awesome/less/icons.less
  _libs/font-awesome/less/larger.less
  _libs/font-awesome/less/list.less
  _libs/font-awesome/less/mixins.less
  _libs/font-awesome/less/path.less
  _libs/font-awesome/less/rotated-flipped.less
  _libs/font-awesome/less/screen-reader.less
  _libs/font-awesome/less/stacked.less
  _libs/font-awesome/less/variables.less
  _libs/font-awesome/scss/_animated.scss
  _libs/font-awesome/scss/_bordered-pulled.scss
  _libs/font-awesome/scss/_core.scss
  _libs/font-awesome/scss/_fixed-width.scss
  _libs/font-awesome/scss/_icons.scss
  _libs/font-awesome/scss/_larger.scss
  _libs/font-awesome/scss/_list.scss
  _libs/font-awesome/scss/_mixins.scss
  _libs/font-awesome/scss/_path.scss
  _libs/font-awesome/scss/_rotated-flipped.scss
  _libs/font-awesome/scss/_screen-reader.scss
  _libs/font-awesome/scss/_stacked.scss
  _libs/font-awesome/scss/_variables.scss
  _libs/font-awesome/scss/font-awesome.scss
  _libs/lunr/build_index.js
  _libs/lunr/lunr.min.js
  _libs/lunr/lunr_index.js
  _libs/lunr/lunrclient.js
  _libs/lunr/lunrclient.min.js
  courses/4day.md
  search.md
Labels: franklin and github pages, navigation and menus, search engine, style and layout

#108 Clicking on the logo in the top-left corner should bring you to the home page
  _layout/pgwrap.html
Labels: bug fix, style and layout

#117 Franklin: set `do_push=false`
  .github/workflows/deploy.yml
Labels: CI/CD, franklin and github pages
